
/* HEADER */

div.HeaderLeftDD1 {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #2a2a2a;
    justify-content: center;
    align-items: start;
    width: 220px;
    height: auto;
}

div.HeaderLeftDD2 {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #2a2a2a;
    justify-content: left;
    align-items: start;
    width: 300px;
    height: auto;
}

div.HeaderRightDD1 {
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #2a2a2a;
    justify-content: center;
    align-items: start;
    width: 220px;
    height: auto;
}