
/* HEADER BUTTON */

button.HeaderBTN {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-radius: 6px;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
    height: 50%;
    display: flex;
    align-items: center;
}

button.HeaderBTN:hover {
    cursor: pointer;
    background-color: #646464;
    transition-duration: 500ms;
}


/* HEADER DROPDOWN BUTTON */

button.HeaderDDBTN1 {
    height: 28px;
    width: 100%;
    border-width: 0;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: left;
    color: black;
    display: flex;
    margin: 6px;
    align-items: center;
    justify-content: space-between;
}

button.HeaderDDBTN1:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

button.HeaderDDBTN2 {
    height: 40px;
    width: 100%;
    border-width: 0;
    border-radius: 6px;
    background-color: #2a2a2a;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: white;
}

button.HeaderDDBTN2:hover {
    cursor: pointer;
    background-color: #646464;
    font-weight: bold;
    text-decoration: underline;
    transition-duration: 500ms;
}


/* DEFAULT BUTTON */

button.DefaultButton {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 6px;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: black;
    display: flex;
    align-items: center;
}

button.DefaultButton:hover {
    cursor: pointer;
    background-color: #d2d2d2;
    transition-duration: 500ms;
}